<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RifaCampeão"
        tools:targetApi="31">
        <activity
            android:name=".PagamentoRecebimentoVendedorActivity"
            android:exported="false" />
        <activity
            android:name=".RelatoriosActivity"
            android:exported="false" />
        <activity
            android:name=".QRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".RegioesActivity"
            android:exported="false" />
        <activity
            android:name=".VendedoresActivity"
            android:exported="false" />
        <activity
            android:name=".LancarDataLimiteActivity"
            android:exported="false" />
        <activity
            android:name=".BannersActivity"
            android:exported="false" />
        <activity
            android:name=".AdminMasterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MakeSorteioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PremioActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MenuAcvity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RifaCampeão">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>